.head{
   background-color: blueviolet;
   height: 500px;
}
.body{
   background-color: chartreuse;
   height: 300px;
}
.footer{
   background-color:gray ;
   height: 600px;
}
h1{
   color: crimson;
   text-align: center;
}